sudo: required

language: generic

services:
    - docker

before_install:
    - docker build -t anasso/docker-react -f Dockerfile.dev .

script: 
    - docker run -e CI=true anasso/docker-react npm run test -- --coverage